<section id="about" class="section about-me-section">
  <div class="about-me container">
    <h2 class="visually-hidden">About Me</h2>
    <!-- facecard -->
    <div class="a-m-facecard">
      <h3 class="a-m-facecard-h a-m-uppercased">
        I work with people all over the world to create impressive and
        <span class="a-m-facecard-accent-text">functional</span>
        <span class="a-m-facecard-gray-text">websites</span> that reflect each
        client's unique personality.
      </h3>
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/aboutmeImgs/am-section-img.jpg    1x,
            /img/aboutmeImgs/am-section-img@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/aboutmeImgs/am-section-img-tablet.jpg    1x,
            /img/aboutmeImgs/am-section-img-tablet@2x.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /img/aboutmeImgs/am-section-img-mob.jpg    1x,
            /img/aboutmeImgs/am-section-img-mob@2x.jpg 2x
          "
        />
        <img
          class="a-m-facecard-img"
          src="/img/aboutmeImgs/am-section-img.jpg"
          alt="facecard of developer"
          loading="lazy"
        />
      </picture>
    </div>
    <!--  ABOUT  -->
    <div class="about-accordion">
      <ul class="accordion-container description-list">
        <li class="ac a-m-accordion-el">
          <h3 class="ac-header a-m-uppercased a-m-ac-header">
            ABOUT ME
            <button
              class="close-accordion-btn ac-trigger"
              aria-label="Open or close"
            >
              <svg class="icon a-m-arrow-top">
                <use href="/img/svg-sprite.svg#icon-arrow-top"></use>
              </svg>
            </button>
          </h3>
          <ul class="ac-panel a-m-ac-panel">
            <li class="ac-text ac-a-m-text">
              <p>
                I am Lloyd Jefferson, a talented programmer with extensive
                expertise in software development. I have an understanding of
                different programming languages and technologies, always ready
                to improve my skills. I always follow the latest trends and look
                for unconventional, creative solutions to problems. I have a
                high level of analytical skills and am able to effectively solve
                even the most difficult tasks encountered on the way.
              </p>
            </li>
            <li class="ac-text ac-a-m-text">
              <p>
                Able to work both independently and in a team. I can effectively
                cooperate with colleagues, exchanging ideas and finding optimal
                solutions. Professional maturity allows you to calmly cope with
                challenges and stressful situations, while maintaining a high
                quality of work.I am always looking for opportunities for
                self-improvement. I actively study new technologies and
                practices to stay abreast of the latest innovations. I have a
                strong understanding of various programming languages,
                frameworks and architectural concepts that allow me to create
                efficient and scalable software.
              </p>
            </li>
          </ul>
        </li>

        <li class="ac a-m-accordion-el">
          <h3 class="ac-header a-m-ac-header a-m-uppercased">
            ROLE
            <button
              class="close-accordion-btn ac-trigger"
              aria-label="Open or close"
            >
              <svg class="icon a-m-arrow-top">
                <use href="/img/svg-sprite.svg#icon-arrow-top"></use>
              </svg>
            </button>
          </h3>
          <ul class="ac-panel a-m-ac-panel">
            <li class="ac-text ac-a-m-text"><p>Frontend development</p></li>
            <li class="ac-text ac-a-m-text"><p>HeadlessCMS,Wordpress</p></li>
            <li class="ac-text ac-a-m-text"><p>Blender(enjoy)</p></li>
          </ul>
        </li>

        <li class="ac a-m-accordion-el">
          <h3 class="ac-header a-m-ac-header a-m-uppercased">
            EDUCATION
            <button
              class="close-accordion-btn ac-trigger"
              aria-label="Open or close"
            >
              <svg class="icon a-m-arrow-top">
                <use href="/img/svg-sprite.svg#icon-arrow-top"></use>
              </svg>
            </button>
          </h3>
          <ul class="ac-panel a-m-ac-panel">
            <li class="ac-text ac-a-m-text">
              <p>
                2018 - 2019 / Frontend Development Diploma, GoIT IT<br />School,
                New York
              </p>
            </li>
            <li class="ac-text ac-a-m-text">
              <p>
                2019 - 2020 / Advanced Web Development Certificate, GoIT IT<br />
                School, New York
              </p>
            </li>
            <li class="ac-text ac-a-m-text">
              <p>2020 - 2022 / Advanced Blender Animation Techniques, Udemy</p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- skills -->
    <div class="skills-container">
      <div class="a-m-swiper swiper">
        <ul class="skills-list swiper-wrapper">
          <li class="skill-el swiper-slide">
            <h3 class="skill">HTML/CSS</h3>
          </li>
          <li class="skill-el swiper-slide">
            <h3 class="skill">JavaScript</h3>
          </li>
          <li class="skill-el swiper-slide">
            <h3 class="skill">React</h3>
          </li>
          <li class="skill-el swiper-slide">
            <h3 class="skill">Node. js</h3>
          </li>
          <li class="skill-el swiper-slide">
            <h3 class="skill">React Native</h3>
          </li>
          <li class="skill-el swiper-slide">
            <h3 class="skill">Soft skills</h3>
          </li>
          <li class="skill-el swiper-slide">
            <h3 class="skill">HTML/CSS</h3>
          </li>
          <li class="skill-el swiper-slide">
            <h3 class="skill">JavaScript</h3>
          </li>
          <li class="skill-el swiper-slide">
            <h3 class="skill">React</h3>
          </li>
          <li class="skill-el swiper-slide">
            <h3 class="skill">Node. js</h3>
          </li>
          <li class="skill-el swiper-slide">
            <h3 class="skill">React Native</h3>
          </li>
          <li class="skill-el swiper-slide">
            <h3 class="skill">Soft skills</h3>
          </li>
        </ul>
        <div
          class="a-m-swiper-button-next a-m-swiper-button"
          aria-label="Open or close"
        >
          <svg class="swiper-a-m-svg">
            <use href="/img/svg-sprite.svg#icon-arrow-narrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
