<section class="section">
  <div class="about-me container">
    <h2 class="visually-hidden">About Me</h2>
    <!-- facecard -->
<div class="facecard">
<h3 class="facecard-h">I work with people all over the world to create impressive and <span>functional</span> <span>websites</span>  that reflect each client's unique personality.</h3>
<img
  srcset="/public/aboutmeImgs/am-section-img.jpg 1x, /public/aboutmeImgs/am-section-img2x.jpg 2x"
  src="/public/aboutmeImgs/am-section-img.jpg"
  alt="Опис зображення для всіх версій"
  class="facecard-img"
/>
</div>
        <!-- about -->
<div class="about-accordion accordion-container">
<ul>
<li>About Me <button class="close-accordion-btn"> > </button></li>
<li>rOLE<button class="close-accordion-btn"> > </button></li>
<li>eDUCATION<button class="close-accordion-btn"> > </button></li>
</ul>
</div>
        <!-- skills -->
<div class="skills">
    <button>></button>
</div>
  </div>
</section>
