<section class="section covers-section">
  <div class="container covers-container">
    <h2 class="visually-hidden">Covers</h2>
    <div class="covers-content">
      <ul class="covers-line">
        <li class="covers-item">
          <picture class="covers-img">
            <source
              srcset="img/covers/project-1-2x.webp"
              media="(min-width: 1200px) and (min-resolution: 2dppx)" />
            <source srcset="img/project-1.webp" media="(min-width: 1200px)" />
            <source
              srcset="img/covers/project-1-tablet.webp"
              media="(min-width: 768px)" />
            <source
              srcset="img/covers/project-1-mobile.webp"
              media="(max-width: 767px)" />
            <img
              src="img/covers/project-1.jpg"
              alt="StarlightStudio"
              loading="lazy"
          /></picture>
        </li>
        <li class="covers-item">
          <picture class="covers-img">
            <source
              srcset="img/covers/project-2-2x.webp"
              media="(min-width: 1200px) and (min-resolution: 2dppx)" />
            <source
              srcset="img/covers/project-2.webp"
              media="(min-width: 1200px)" />
            <source
              srcset="img/covers/project-2-tablet.webp"
              media="(min-width: 768px)" />
            <source
              srcset="img/covers/project-2-mobile.webp"
              media="(max-width: 767px)" />
            <img
              src="img/covers/project-2.jpg"
              alt="energy.flow"
              loading="lazy"
          /></picture>
        </li>
        <li class="covers-item">
          <picture class="covers-img">
            <source
              srcset="img/covers/project-3-2x.webp"
              media="(min-width: 1200px) and (min-resolution: 2dppx)" />
            <source
              srcset="img/covers/project-3.webp"
              media="(min-width: 1200px)" />
            <source
              srcset="img/covers/project-3-tablet.webp"
              media="(min-width: 768px)" />
            <source
              srcset="img/covers/project-3-mobile.webp"
              media="(max-width: 767px)" />
            <img src="img/covers/project-3.jpg" alt="Fruitbox" loading="lazy"
          /></picture>
        </li>
        <li class="covers-item">
          <picture class="covers-img">
            <source
              srcset="img/covers/project-4-2x.webp"
              media="(min-width: 1200px) and (min-resolution: 2dppx)" />
            <source
              srcset="img/covers/project-4.webp"
              media="(min-width: 1200px)" />
            <source
              srcset="img/covers/project-4-tablet.webp"
              media="(min-width: 768px)" />
            <source
              srcset="img/covers/project-4-mobile.webp"
              media="(max-width: 767px)" />
            <img
              src="img/covers/project-4.jpg"
              alt="Chego jewelry"
              loading="lazy"
          /></picture>
        </li>
        <li class="covers-item">
          <picture class="covers-img">
            <source
              srcset="img/covers/project-5-2x.webp"
              media="(min-width: 1200px) and (min-resolution: 2dppx)" />
            <source
              srcset="img/covers/project-5.webp"
              media="(min-width: 1200px)" />
            <source
              srcset="img/covers/project-5-tablet.webp"
              media="(min-width: 768px)" />
            <source
              srcset="img/covers/project-5-mobile.webp"
              media="(max-width: 767px)" />
            <img src="img/covers/project-5.jpg" alt="Mimino" loading="lazy"
          /></picture>
        </li>
        <li class="covers-item">
          <picture class="covers-img">
            <source
              srcset="img/covers/project-6-2x.webp"
              media="(min-width: 1200px) and (min-resolution: 2dppx)" />
            <source
              srcset="img/covers/project-6.webp"
              media="(min-width: 1200px)" />
            <source
              srcset="img/covers/project-6-tablet.webp"
              media="(min-width: 768px)" />
            <source
              srcset="img/covers/project-6-mobile.webp"
              media="(max-width: 767px)" />
            <img src="img/covers/project-6.jpg" alt="Embroidery" loading="lazy"
          /></picture>
        </li>
        <li class="covers-item">
          <picture class="covers-img">
            <source
              srcset="img/covers/project-7-2x.webp"
              media="(min-width: 1200px) and (min-resolution: 2dppx)" />
            <source
              srcset="img/covers/project-7.webp"
              media="(min-width: 1200px)" />
            <source
              srcset="img/covers/project-7-tablet.webp"
              media="(min-width: 768px)" />
            <source
              srcset="img/covers/project-7-mobile.webp"
              media="(max-width: 767px)" />
            <img
              src="img/covers/project-7.jpg"
              alt="Green Harvest"
              loading="lazy"
          /></picture>
        </li>
        <li class="covers-item">
          <picture class="covers-img">
            <source
              srcset="img/covers/project-8-2x.webp"
              media="(min-width: 1200px) and (min-resolution: 2dppx)" />
            <source
              srcset="img/covers/project-8.webp"
              media="(min-width: 1200px)" />
            <source
              srcset="img/covers/project-8-tablet.webp"
              media="(min-width: 768px)" />
            <source
              srcset="img/covers/project-8-mobile.webp"
              media="(max-width: 767px)" />
            <img
              src="img/covers/project-8.jpg"
              alt="Power Pulse"
              loading="lazy"
          /></picture>
        </li>
        <li class="covers-item">
          <picture class="covers-img">
            <source
              srcset="img/covers/project-9-2x.webp"
              media="(min-width: 1200px) and (min-resolution: 2dppx)" />
            <source
              srcset="img/covers/project-9.webp"
              media="(min-width: 1200px)" />
            <source
              srcset="img/covers/project-9-tablet.webp"
              media="(min-width: 768px)" />
            <source
              srcset="img/covers/project-9-mobile.webp"
              media="(max-width: 767px)" />
            <img src="img/covers/project-9.jpg" alt="Wallet" loading="lazy"
          /></picture>
        </li>
        <li class="covers-item">
          <picture class="covers-img">
            <source
              srcset="img/covers/project-10-2x.webp"
              media="(min-width: 1200px) and (min-resolution: 2dppx)" />
            <source
              srcset="img/covers/project-10.webp"
              media="(min-width: 1200px)" />
            <source
              srcset="img/covers/project-10-tablet.webp"
              media="(min-width: 768px)" />
            <source
              srcset="img/covers/project-10-mobile.webp"
              media="(max-width: 767px)" />
            <img
              src="img/covers/project-10.jpg"
              alt="EnglishExcellence"
              loading="lazy"
          /></picture>
        </li>
      </ul>

      <div class="cloned-line"></div>
    </div>
  </div>
</section>
