<section class="faq section">
  <div class="faq-container container">
    <h2 class="faq-title">FAQ</h2>
    <div class="wrapper">
      <!-- ------------------------------ Ліва колонка ------------------------------------>
      <div class="accordion-container2">
      <div class="ac ac-faq">
        <h3 class="ac-header ac-header-faq">
          What programming languages are most often used in your project?
          <button class="ac-trigger ac-trigger-faq" aria-label="Toggle answer">
            <svg class="icon arrow-top">
              <use xlink:href="../public/svg-sprite.svg#icon-arrow-top"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel ac-panel-faq">
          <p class="ac-item-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </div>

      <!-- ---------------------------------------------------------------------------------------------------- -->

      <div class="ac ac-faq">
        <h3 class="ac-header ac-header-faq">
          What are the deadlines for the project?
          <button class="ac-trigger ac-trigger-faq" aria-label="Toggle answer">
            <svg class="icon arrow-top">
              <use xlink:href="../public/svg-sprite.svg#icon-arrow-top"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel ac-panel-faq">
          <p class="ac-item-text">
            The terms of project implementation depend on many factors, such as
            the scope of the project, its complexity, and the availability of
            resources.
          </p>
        </div>
      </div>

      <!-- --------------------------------------------------------------------------------------------------- -->

      <div class="ac ac-faq">
        <h3 class="ac-header ac-header-faq">
          What payment methods do you accept?
          <button class="ac-trigger ac-trigger-faq" aria-label="Toggle answer">
            <svg class="icon arrow-top">
              <use xlink:href="../public/svg-sprite.svg#icon-arrow-top"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel ac-panel-faq">
          <p class="ac-item-text">
            We accept Visa, MasterCard, PayPal, and cryptocurrencies such as
            Bitcoin and Ethereum.
          </p>
        </div>
      </div>

      <!-- ------------------------------------- Права колонка ---------------------------------------------------- -->

      <div class="ac ac-faq">
        <h3 class="ac-header ac-header-faq">
          How can I contact you?
          <button class="ac-trigger ac-trigger-faq" aria-label="Toggle answer">
            <svg class="icon arrow-top">
              <use xlink:href="../public/svg-sprite.svg#icon-arrow-top"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel ac-panel-faq">
          <p class="ac-item-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </div>

      <!-- ---------------------------------------------------------------------------------------------- -->

      <div class="ac ac-faq">
        <h3 class="ac-header ac-header-faq">
          Do you provide advice or support?
          <button class="ac-trigger ac-trigger-faq" aria-label="Toggle answer">
            <svg class="icon arrow-top">
              <use xlink:href="../public/svg-sprite.svg#icon-arrow-top"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel ac-panel-faq">
          <p class="ac-item-text">
            Absolutely! We offer technical advice, consulting, and full customer
            support throughout your project.
          </p>
        </div>
      </div>

      <!-- --------------------------------------------------------------------------------------------------- -->

      <div class="ac ac-faq">
        <h3 class="ac-header ac-header-faq">
          What does the process of developing a software product look like from
          idea to implementation?
          <button class="ac-trigger ac-trigger-faq" aria-label="Toggle answer">
            <svg class="icon arrow-top">
              <use xlink:href="../public/svg-sprite.svg#icon-arrow-top"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel ac-panel-faq">
          <p class="ac-item-text">
            It involves discovery, planning, design, development, testing, and
            deployment stages - all tailored to your needs.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
