<section class="faq section">
  <h2 class="faq-title">FAQ</h2>

  <div class="faq-container container">
    <ul class="faq-list">
      <div class="faq-list-grup-1">
        <!----------------------- first(1) -li ----------------------------->

        <li class="faq-item">
          <div class="faq-item-grup">
            <h3 class="faq-li-title">
              What programming languages are most often used in your project?
            </h3>
            <div>
              <button class="faq-toggle">
                <svg
                  class="icon"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M15 12.5L10 7.5L5 12.5"
                    stroke="#FAFAFA"
                    stroke-width="2"
                  />
                </svg>
              </button>
            </div>
          </div>
          <p class="faq-content">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </li>

        <!----------------------- Second(2) -li ----------------------------->

        <li class="faq-item">
          <div class="faq-item-grup">
            <h3 class="faq-li-title">
              What are the deadlines for the project?
            </h3>
            <button class="faq-toggle">
              <svg
                class="icon"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M15 12.5L10 7.5L5 12.5"
                  stroke="#FAFAFA"
                  stroke-width="2"
                />
              </svg>
            </button>
          </div>
          <p class="faq-content">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </li>

        <!----------------------- third(3) -li ----------------------------->
        <li class="faq-item">
          <div class="faq-item-grup">
            <h3 class="faq-li-title">What payment methods do you accept?</h3>
            <button class="faq-toggle">
              <svg
                class="icon"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M15 12.5L10 7.5L5 12.5"
                  stroke="#FAFAFA"
                  stroke-width="2"
                />
              </svg>
            </button>
          </div>
          <p class="faq-content">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </li>
      </div>

      <div class="faq-list-grup-2">
        <!----------------------- fourth(4) -li ----------------------------->

        <li class="faq-item">
          <div class="faq-item-grup">
            <h3 class="faq-li-title">How can I contact you?</h3>
            <button class="faq-toggle">
              <svg
                class="icon"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M15 12.5L10 7.5L5 12.5"
                  stroke="#FAFAFA"
                  stroke-width="2"
                />
              </svg>
            </button>
          </div>
          <p class="faq-content">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </li>

        <!----------------------- fifth(5) -li ----------------------------->
        <li class="faq-item">
          <div class="faq-item-grup">
            <h3 class="faq-li-title">Do you provide advice or support?</h3>
            <button class="faq-toggle">
              <svg
                class="icon"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M15 12.5L10 7.5L5 12.5"
                  stroke="#FAFAFA"
                  stroke-width="2"
                />
              </svg>
            </button>
          </div>
          <p class="faq-content">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </li>

        <!----------------------- sixth(6) -li ----------------------------->
        <li class="faq-item">
          <div class="faq-item-grup">
            <h3 class="faq-li-title">
              What does the process of developing a software product look like
              from idea to implementation?
            </h3>
            <button class="faq-toggle">
              <svg
                class="icon"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M15 12.5L10 7.5L5 12.5"
                  stroke="#FAFAFA"
                  stroke-width="2"
                />
              </svg>
            </button>
          </div>
          <p class="faq-content">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </li>
      </div>
    </ul>
  </div>
</section>
