<div class="header-mobile-menu-background">
  <div class="header-mobile-menu-wrapper">
    <button
      class="header-mobile-menu-close-button"
      type="button"
      aria-label="Close"
    >
      <svg class="header-mobile-menu-close-icon" width="14" height="14">
        <use href="/img/svg-sprite.svg#icon-close"></use>
      </svg>
    </button>
    <nav>
      <ul class="header-mobile-menu-list">
        <li class="header-mobile-menu-item">
          <a class="header-mobile-menu-link" href="#about">About me</a>
        </li>
        <li class="header-mobile-menu-item">
          <a class="header-mobile-menu-link" href="#benefits">Benefits</a>
        </li>
        <li class="header-mobile-menu-item">
          <a class="header-mobile-menu-link" href="#projects">Projects</a>
        </li>
        <li class="header-mobile-menu-item">
          <a class="header-mobile-menu-link" href="#faq">FAQ</a>
        </li>
      </ul>
    </nav>
    <a class="header-mobile-menu-order-button" href="#work-together">
      Order the project
    </a>
  </div>
</div>
