<section class="section projects" id="projects">
  <div class="container">
    <h2 class="projects-title section-name">Projects</h2>
    <div class="swiper projects-swiper">
      <ul class="swiper-wrapper projects-list">
        <li class="swiper-slide">
          <div class="projects-item">
            <div class="project-light-side">
              <ul class="project-technology-list">
                <li class="project-technology-item">#react</li>
                <li class="project-technology-item">#js</li>
                <li class="project-technology-item">#node js</li>
                <li class="project-technology-item">#git</li>
              </ul>
              <h3 class="project-subtitle">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <a
                href="https://lebochuliak.github.io/project-web_undefined/"
                class="project-link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                >See project</a
              >
            </div>
            <div class="project-dark-side">
              <picture>
                <source
                  media="(max-width: 767px)"
                  srcset="
                    img/projects/mob-readjourney.jpg    1x,
                    img/projects/mob-readjourney@2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    img/projects/desk-readjourney.jpg    1x,
                    img/projects/desk-readjourney@2x.jpg 2x
                  "
                />
                <img
                  class="project-img"
                  src="img/projects/desk-readjourney.jpg"
                  alt="Preview of the 'Read journey' website"
                  width="614"
                />
              </picture>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="projects-item">
            <div class="project-light-side">
              <ul class="project-technology-list">
                <li class="project-technology-item">#react</li>
                <li class="project-technology-item">#js</li>
                <li class="project-technology-item">#node js</li>
                <li class="project-technology-item">#git</li>
              </ul>
              <h3 class="project-subtitle">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <a
                href="https://lebochuliak.github.io/project-web_undefined/"
                class="project-link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                >See project</a
              >
            </div>
            <div class="project-dark-side">
              <picture>
                <source
                  media="(max-width: 767px)"
                  srcset="
                    img/projects/mob-petlove.jpg    1x,
                    img/projects/mob-petlove@2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    img/projects/desk-petlove.jpg    1x,
                    img/projects/desk-petlove@2x.jpg 2x
                  "
                />
                <img
                  class="project-img"
                  src="img/projects/desk-petlove.jpg"
                  alt="Preview of the 'Pet love' website"
                  width="614"
                />
              </picture>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="projects-item">
            <div class="project-light-side">
              <ul class="project-technology-list">
                <li class="project-technology-item">#react</li>
                <li class="project-technology-item">#js</li>
                <li class="project-technology-item">#node js</li>
                <li class="project-technology-item">#git</li>
              </ul>
              <h3 class="project-subtitle">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <a
                href="https://lebochuliak.github.io/project-web_undefined/"
                class="project-link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                >See project</a
              >
            </div>
            <div class="project-dark-side">
              <picture>
                <source
                  media="(max-width: 767px)"
                  srcset="
                    img/projects/mob-vocabbuilder.jpg    1x,
                    img/projects/mob-vocabbuilder@2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    img/projects/desk-vocabbuilder.jpg    1x,
                    img/projects/desk-vocabbuilder@2x.jpg 2x
                  "
                />
                <img
                  class="project-img"
                  src="img/projects/desk-vocabbuilder.jpg"
                  alt="Preview of the 'Vocab builder' website"
                  width="614"
                />
              </picture>
            </div>
          </div>
        </li>
      </ul>

      <!-- Navigation buttons -->
      <div class="projects-navigation-buttons">
        <button type="button" class="projects-prev-btn project-swiper-btn">
          <svg class="projects-icon projects-prev-icon" width="24" height="24">
            <use href="img/svg-sprite.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
        <button type="button" class="projects-next-btn project-swiper-btn">
          <svg class="projects-icon projects-next-icon" width="24" height="24">
            <use href="img/svg-sprite.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
