<section class="section projects">
  <div class="container">
    <h2 class="projects-title">Projects</h2>
    <div class="swiper">
      <ul class="swiper-wrapper projects-list">
        <li class="swiper-slide projects-item">
          <div class="project-light-side">
            <ul class="project-technology-list">
              <li class="project-technology-item">#react</li>
              <li class="project-technology-item">#js</li>
              <li class="project-technology-item">#node js</li>
              <li class="project-technology-item">#git</li>
            </ul>
            <h3 class="project-subtitle">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              href="https://lebochuliak.github.io/project-web_undefined/"
              class="project-link"
              target="_blank"
              rel="noopener noreferrer nofollow"
              >See project</a
            >
          </div>
          <div class="project-dark-side">
            <picture>
              <source
                media="(max-width: 374px)"
                srcset="
                  images/mob-readjourney.jpg    1x,
                  images/mob-readjourney@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 375px)"
                srcset="
                  images/desk-readjourney.jpg    1x,
                  images/desk-readjourney@2x.jpg 2x
                "
              />
              <img
                class="project-img"
                src="images/desk-readjourney.jpg"
                alt="Preview of the 'Read journey' website"
                width="614"
              />
            </picture>
          </div>
        </li>
        <li class="swiper-slide projects-item">
          <div class="project-light-side">
            <ul class="project-technology-list">
              <li class="project-technology-item">#react</li>
              <li class="project-technology-item">#js</li>
              <li class="project-technology-item">#node js</li>
              <li class="project-technology-item">#git</li>
            </ul>
            <h3 class="project-subtitle">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              href="https://lebochuliak.github.io/project-web_undefined/"
              class="project-link"
              target="_blank"
              rel="noopener noreferrer nofollow"
              >See project</a
            >
          </div>
          <div class="project-dark-side">
            <picture>
              <source
                media="(max-width: 374px)"
                srcset="images/mob-petlove.jpg 1x, images/mob-petlove@2x.jpg 2x"
              />
              <source
                media="(min-width: 375px)"
                srcset="
                  images/desk-petlove.jpg    1x,
                  images/desk-petlove@2x.jpg 2x
                "
              />
              <img
                class="project-img"
                src="images/desk-petlove.jpg"
                alt="Preview of the 'Pet love' website"
                width="614"
              />
            </picture>
          </div>
        </li>
        <li class="swiper-slide projects-item">
          <div class="project-light-side">
            <ul class="project-technology-list">
              <li class="project-technology-item">#react</li>
              <li class="project-technology-item">#js</li>
              <li class="project-technology-item">#node js</li>
              <li class="project-technology-item">#git</li>
            </ul>
            <h3 class="project-subtitle">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              href="https://lebochuliak.github.io/project-web_undefined/"
              class="project-link"
              target="_blank"
              rel="noopener noreferrer nofollow"
              >See project</a
            >
          </div>
          <div class="project-dark-side">
            <picture>
              <source
                media="(max-width: 374px)"
                srcset="
                  images/mob-vocabbuilder.jpg    1x,
                  images/mob-vocabbuilder@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 375px)"
                srcset="
                  images/desk-vocabbuilder.jpg    1x,
                  images/desk-vocabbuilder@2x.jpg 2x
                "
              />
              <img
                class="project-img"
                src="images/desk-vocabbuilder.jpg"
                alt="Preview of the 'Vocab builder' website"
                width="614"
              />
            </picture>
          </div>
        </li>
      </ul>

      <!-- Navigation buttons -->
      <div class="projects-navigation-buttons">
        <button type="button" class="projects-prev-btn project-swiper-btn">
          <img
            src="images/arrow-narrow-right.svg"
            alt="icon"
            class="projects-prev-icon"
            width="24"
            height="24"
          />
          <!-- <svg class="projects-prev-icon" width="24" height="24">
            <use href="images/icons.svg#icon-horizontal-arrow"></use>
          </svg> -->
        </button>
        <button type="button" class="projects-next-btn project-swiper-btn">
          <img
            src="images/arrow-narrow-right.svg"
            alt="icon"
            class="projects-prev-icon"
            width="24"
            height="24"
          />
          <!-- <svg class="projects-next-icon" width="24" height="24">
            <use href="images/icons.svg#icon-horizontal-arrow"></use>
          </svg> -->
        </button>
      </div>
    </div>
  </div>
</section>
