<section class="section work-together" id="work-together">
  <div class="container work-together-background-image">
    <div class="title-wrapper">
      <img
        class="work-together-icon"
        src="./img/work-together/work-together-icon.png"
        alt="jeff icon"
        width="44"
        height="44"
        loading="lazy"
      />
      <h2 class="work-title">
        Let’s <span class="work-span">work</span><br /><span
          class="together-span"
          >together</span
        >
      </h2>
    </div>

    <form class="work-together-form work-together-form-background-image">
      <label for="user_email" class="email-label">
        <input
          type="email"
          name="email"
          id="user_email"
          class="work-together-send-email"
          placeholder="clients@gmail.com"
          pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
          required
        />
      </label>

      <label for="user_comment" class="comment-label">
        <input
          type="text"
          name="text"
          id="user_comment"
          class="work-together-send-text"
          placeholder="comments"
          maxlength="200"
          required
        />
      </label>

      <button type="submit" class="work-together-send-contact-btn">Send</button>
    </form>

    <address class="work-together-address">
      <ul class="address-list">
        <li class="address-item">
          <a href="mailto:lloydjefferson@gmail.com" class="address-link">
            lloydjefferson@gmail.com
          </a>
        </li>
        <li class="address-item">
          <a href="tel:+3801111111111" class="address-link">
            +380 11 1111 11 11
          </a>
        </li>
      </ul>
    </address>
  </div>
</section>

<div class="work-together-backdrop">
  <div class="work-together-modal">
    <button class="work-together-modal-btn" type="button" aria-label="Close">
      <svg class="header-mobile-menu-close-icon" width="22" height="22">
        <use href="/img/svg-sprite.svg#icon-close"></use>
      </svg>
    </button>
    <p class="work-together-modal-title">
      Thank you for your interest in cooperation!
    </p>
    <p class="work-together-modal-message">
      The manager will contact you shortly to discuss further details and
      opportunities for cooperation. Please stay in touch.
    </p>
  </div>
</div>
