.about-me-section {
    --borders: 1px solid rgba(250, 250, 250, 0.2);
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.a-m-uppercased {
    text-transform: uppercase;
}

/* FACECARD */
.a-m-facecard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    max-width: 100%;
}
.a-m-facecard-h:hover,
.a-m-facecard picture:hover {
    transform: scale(1.02);
}
.a-m-facecard-h {
    background: var(--cards-color);
    border-radius: 24px;
    height: 500px;
    padding: 32px;
    font-weight: 500;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.03em;
    transition: transform 0.3s ease;
}
.a-m-facecard picture {
    transition: transform 0.3s ease;
}
.a-m-facecard-img {
    border-radius: 24px;
    object-fit: cover;
    margin: auto;
}

.a-m-facecard-accent-text {
    color: var(--accent-color);
}

.a-m-facecard-gray-text {
    opacity: 40%;
}

/* ABOUT */
.a-m-accordion-el .ac-trigger::after {
    content: unset !important;
}

.about-accordion {
    width: 100%;
}

.description-list {
    gap: 20px;
}

.a-m-accordion-el {
    padding: 0px;
    min-height: 68px;
    max-height: fit-content;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: rgba(250, 250, 250, 0.4);
    margin-bottom: 20px !important;
}

.description-list .a-m-accordion-el {
    background-color: var(--background-color) !important;
    border-bottom: var(--borders);
    border-top: none;
    border-right: none;
    border-left: none;
}
.description-list .a-m-accordion-el:last-child {
    margin-bottom: 0 !important;
}
.a-m-ac-header {
    display: flex;
    flex-direction: row;
    width: 100% !important;
    align-items: center;
    padding: 0;
    font-size: 16px;
    position: relative;
    flex-grow: 1 !important;
    flex-shrink: 0;
    flex-basis: auto;
    justify-content: space-between;
}

.close-accordion-btn {
    background: none;
    display: flex !important;
    flex-direction: row;
    align-items: center;
    padding: 10px !important;
    margin-left: auto !important;
    width: 36px !important;
    height: 36px !important;
    gap: 10px;
    border: var(--borders) !important;
    border-radius: 100px;
}

.a-m-arrow-top {
    stroke: var(--text-color);
    width: 18px;
    height: 18px;
    transform: rotate(180deg);
    transition: transform 0.1s ease;
}
.a-m-ac-panel {
    margin: 12px auto 20px;
}
.ac-a-m-text {
    font-family: 'Inter Tight' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 1.5 !important;
    text-transform: none;
    color: var(--text-color) !important;
}
.ac-trigger:hover {
    border: 1px solid var(--text-color) !important;
}
/* SKILLS */
.skills-container {
    padding: 0px;
    height: 130px;
    width: 100%;
    position: relative;
}

.a-m-swiper {
    max-width: 260px !important;
    margin-left: 0 !important;
    position: initial !important;
}

.skills-list {
    position: initial !important;
}

.skills-container .swiper-slide-active {
    background-color: var(--accent-color);
}

.skill-el {
    position: relative;
    border: var(--borders);
    border-radius: 100%;
    height: 130px !important;
    width: 130px !important;
}

.skill {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    text-align: center;
}

.a-m-swiper-button-next {
    position: absolute;
    width: 28px !important;
    height: 28px !important;
    right: 0px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    z-index: 100 !important;
}

.a-m-swiper-button-next::after {
    display: none !important;
}

.swiper-button-lock {
    display: block !important;
}

.swiper-a-m-svg {
    width: 28px !important;
    height: 28px !important;
    stroke: var(--arrow-color);
    fill: none;
}
.swiper-a-m-svg:hover {
    stroke: var(--text-color);
}
@media (min-width: 768px) {

    /* section styles */
    .about-me-section {
        margin-top: 64px;
    }

    .about-me {
        gap: 64px;
    }

    /* facecard */
    .a-m-facecard {
        margin: auto;
        min-width: 514px;
        max-width: 704px;
    }

    .a-m-facecard-h {
        padding: 64px;
        height: 700px;
        font-size: 38px;
        line-height: 105%;
        color: var(--text-color);
    }

    .a-m-facecard-img {
        margin: auto;
        width: 100%;
    }

    /* about */
    .about-accordion {
        margin: auto;
        min-width: 514px;
        max-width: 704px;
    }

    .close-accordion-btn {
        width: 40px;
        height: 40px;
    }

    .a-m-arrow-top {
        width: 20px;
        height: 20px;
    }
    .a-m-ac-panel {
    margin: 8px auto 32px;
    }
    /* skills */
    .skills-container {
        height: 200px;
    }

    .a-m-swiper {
        max-width: 600px !important;
    }

    .skill-el {
        width: 200px !important;
        height: 200px !important;
    }
}

@media (min-width: 1440px) {
    .about-me {
        gap: 96px;
    }

    /* facecard */
    .a-m-facecard {
        flex-direction: row;
        height: 700px;
        max-width: 100%;
    }

    .a-m-facecard-h {
        margin: auto;
        height: 700px;
        width: 680px;
    }

    .a-m-facecard-img {
        height: 700px;
        width: 680px;
    }

    /* about */
    .about-accordion {
        margin: auto;
        min-width: 514px;
        max-width: 1376px;
    }

    .a-m-ac-panel {
        max-width: 612px;
        margin-left: auto;
        margin-right: 68px;
    }

    /* skills */
    .a-m-swiper {
        max-width: 1200px !important;
    }
}