.faq {
  margin: 64px auto;
}

.faq-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}

.faq-container {
  max-width: 375px;
  width: 100%;
  margin: o auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.accordion-container2,
.accordion-container3 {
  border-top: 1px solid rgba(250, 250, 250, 0.2);
}

.ac {
  position: relative !important;
  padding: 20px 0px;
  --color-white: #1c1d20 !important;
  --color-light-grey: #48494c !important;
  border: 0px solid var(rgba(250, 250, 250, 0.2)) !important;
  margin-bottom: 0px !important;
  border-top: none !important;
}

.ac-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  word-break: break-word;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--main-text);
  gap: 68px;
}

.accordion-container2 > .ac {
  border-left: none !important;
  border-right: none !important;
}

.accordion-container3 > .ac {
  border-right: none !important;
  border-left: none !important;
}

.ac-trigger {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  position: absolute !important;
  top: 4px !important;
  left: 92% !important;
  width: 40px;
  height: 40px;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(250, 250, 250, 0.2) !important;
  padding: 0px !important;
}

.ac-trigger > svg {
  display: flex;
  justify-items: center;
  align-items: center;
}

.ac-item-text {
  margin-top: 16px;
  padding-bottom: 20px;
  color: #a1a2a3 !important;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

.arrow-top {
  transition: transform 0.3s ease;
}

@media (min-width: 768px) {
  .faq-container {
    max-width: 704px;
  }

  .faq {
    margin: 96px auto;
  }
}

@media (min-width: 1440px) {
  .faq {
    margin: 164px auto;
  }
  .faq-container {
    max-width: 100%;
    max-height: 640px;
  }

  .wrapper {
    flex-direction: row;
  }

  .accordion-container2 {
    border-right: solid rgba(250, 250, 250, 0.2) !important;
  }

  .accordion-container3 > * {
    padding-left: 32px;
  }
  .ac-item-text {
    margin-top: 21px;
    margin-bottom: 26px;
  }
}
