.projects {
  margin-top: 64px;
  margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .projects {
    margin-top: 96px;
    margin-bottom: 96px;
  }
}

@media screen and (min-width: 1440px) {
  .projects {
    margin-top: 164px;
    margin-bottom: 164px;
  }
}

.projects-title {
  margin-bottom: 32px;
  font-size: 16px;
}

.projects-list {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .projects-list {
    margin-bottom: 64px;
  }
}

.projects-item {
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1440px) {
  .projects-item {
    flex-direction: row;
  }
}

.project-light-side {
  background: var(--text-color);
  padding: 32px;
}

@media screen and (min-width: 768px) {
  .project-light-side {
    padding: 64px;
  }
}

@media screen and (min-width: 1440px) {
  .project-light-side {
    padding-right: 130px;
  }
}

.project-technology-list {
  padding-bottom: 96px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

@media screen and (min-width: 768px) {
  .project-technology-list {
    padding-bottom: 164px;
  }
}

@media screen and (min-width: 1440px) {
  .project-technology-list {
    padding-bottom: 223px;
  }
}

.project-technology-item {
  padding: 13px 18px;
  border-radius: 60px;
  border: 1px solid rgba(28, 29, 32, 0.2);

  color: var(--background-color);
  line-height: normal;
  letter-spacing: -0.02em;
}

@media screen and (min-width: 768px) {
  .project-technology-item {
    padding: 18px;
  }
}

.project-subtitle {
  padding-bottom: 32px;

  color: var(--background-color);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.03em;
}

@media screen and (min-width: 768px) {
  .project-subtitle {
    width: 494px;

    font-size: 44px;
    line-height: 1;
  }
}

.project-link {
  display: inline-flex;
  padding: 13px 32px;
  border-radius: 60px;
  background-color: var(--accent-color);

  color: var(--text-color);
  line-height: normal;
  letter-spacing: -0.02em;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover {
  background-color: #e0373f;
}

@media screen and (min-width: 768px) {
  .project-link {
    padding: 18px 50px;
  }
}

.project-dark-side {
  padding: 100px 16px;
  background: var(--cards-color);
}

@media screen and (min-width: 768px) {
  .project-dark-side {
    padding: 120px 45px;
  }
}

@media screen and (min-width: 1440px) {
  .project-dark-side {
    padding: 120px 37px;
  }
}

/* -- Navigation buttons -- */
.projects-navigation-buttons {
  display: flex;
  gap: 12px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .projects-navigation-buttons {
    gap: 20px;
  }
}

.project-swiper-btn {
  display: flex;
  padding: 14px;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 0.5);
  background-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .project-swiper-btn {
    padding: 18px;
  }
}

.projects-icon {
  fill: var(--text-color);
}

@media screen and (min-width: 768px) {
  .projects-icon {
    width: 32px;
    height: 32px;
  }
}

.projects-prev-icon {
  transform: rotate(180deg);
}

/* -- Disabled navigation buttons -- */
.projects-btn-disabled {
  border: 1px solid rgba(250, 250, 250, 0.2);
}

.projects-icon-disabled {
  fill: var(--arrow-color);
}
